:root {
    --header-font: "Pixelify Sans", sans-serif;
    --main-font: "Geist Mono", monospace;
    --background-color: #FFFF;
    --accent-color: #5298e8;
    --text-color: #444444;
    --header-1: 2.5rem;
    --header-2: 1.5rem;
    --header-3: 1.2rem;
    --paragraph: 0.87rem;
}

.dark-mode {
    --background-color: #1a1a1a;
    --accent-color: #eeb647;
    --text-color: #FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px 20px 20px;
    transition: background-color 0.3s, color 0.3s;
}

#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0.4rem;
    font-size: 0.8rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--main-font);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    min-width: 60px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

#darkModeToggle:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

#darkModeToggle .icon {
    transition: fill 0.3s ease;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    flex-grow: 1;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--accent-color);
}

h1 {
    font-size: var(--header-1);
    padding: 1.25rem 0;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2 {
    font-size: var(--header-2);
    padding-bottom: 0.5rem;
}

h3 {
    font-size: var(--header-3);
}

p {
    font-family: var(--main-font);
    font-size: var(--paragraph);
    font-weight: 400;
}

section {
    padding: 1rem 0;
    border-top: 1px solid var(--accent-color);
}

.aboutme-section>p {
    padding-bottom: 0.9rem;
}

.mywork-section>h2 {
    margin-bottom: 0.5rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.project-item {
    padding: 1.3rem;
    border: 1px solid var(--accent-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.project-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.project-description {
    padding-top: 0.5rem;
}

nav {
    max-width: 100%;
    background-color: var(--accent-color);
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
}

a {
    color: var(--font-color);
}

a:hover {
    text-decoration: none;
}

.navbar-links a {
    color: var(--background-color);
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 1.2rem;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
}

footer {
    width: 100%;
    font-family: var(--header-font);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1rem;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid var(--accent-color);
}

footer>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

@media (width < 800px) {

    .toggle-container {
        display: none;
    }

    .wrapper {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}