:root {
    --header-font: "Inter", sans-serif;
    --main-font: "Roboto Mono", monospace;
    --background-color: #FFFF;
    --font-color: #444444;
    --header-1: 2rem;
    --header-2: 1.5rem;
    --header-3: 1.1rem;
    --paragraph: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    flex-grow: 1;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
    font-weight: 700;
}

h1 {
    font-size: var(--header-1);
    padding: 1.25rem 0;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2 {
    font-size: var(--header-2);
    padding-bottom: 0.8rem;
}

h3 {
    font-size: var(--header-3);
}

p {
    font-family: var(--main-font);
    font-size: var(--paragraph);
    font-weight: 400;
}

ul li {
    text-decoration: none;
}

section {
    padding: 1rem 0;
    border-top: 1px solid #949494;
}

.aboutme-section>p {
    padding-bottom: 0.9rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.project-item {
    padding: 0.9rem 0.5rem;
}

.project-title {
    display: flex;
    justify-content: space-between;
}

.contactme-section>div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 0.8rem;
}

svg:hover,
img:hover {
    transition: all 200ms ease-in-out;
    transform: scale(1.2);
}

image svg {
    transition: all 200ms ease-in-out;
}

.email>p {
    text-decoration: underline;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--header-font);
    color: var(--font-color);
    font-weight: 700;
}

a:link,
a:hover,
a:active {
    text-decoration: none;
    color: var(--font-color);
}

a:visited {
    text-decoration: underline;
    color: var(--font-color);
}

footer {
    width: 100%;
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--font-color);
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid var(--font-color);
}

footer>ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mini-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (width < 800px) {
    .wrapper {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}